<div class="banner" style="background-image: url(<%= image_path("banner-image3")%>)";>
  <div class="banner-content">
    <h1>Cocktail killer</h1>
    <p>Les meilleurs recettes de cocktail</p>
    <%= link_to "Créer mon cocktail", new_cocktail_path, class: "btn-model" %>
  </div>
</div>
<div class="container">
  <div class="row">
      <%= yield %>
      <%= render "shared/cocktail" %>
    </div>
  </div>
</div>



