<% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %>
    <% if cocktail.photo.present? %>
      <%= cl_image_tag(cocktail.photo, width: 400, height: 300, crop: :fill) %>
    <% else %>
      <%= cl_image_tag("https://images.unsplash.com/photo-1531387367216-681093c0279b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ca72de11ae9cd2fa7367dc1ee76705&w=1000&q=80", width: 400, height: 300, crop: :fill) %>
    <% end %>
    <%= link_to cocktail_path(cocktail), method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </h3>
<% end %>
