.flex {
  display: flex;
}

.card {
  margin: 30px 30px 30px 0;
  padding: 15px;

  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-image {
  overflow: hidden;
}

.card-description h2 {
  font-size: 24px;
  // font-weight: bold;
  margin: 0;
  color: light-gray;
  text-decoration: none;
}

.card-description :hover {
  color: #da552f;
  text-decoration: none;
}

.card-description p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  color: gray;
}

.card .card-description {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
